#roadmap {
    background: rgba(0, 60, 190, 0.15);
    padding: 10% 15% 5%;
    padding-top: 5%;
}

#roadmap::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: black;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

#roadmap h1 {
    text-align: center;
    color: black;
    margin-bottom: 5%;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.rm-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.rm-txt-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 20px;
    color: black;
}

.rm-txt-box h2 {
    font-weight: 600;
}

.rm-txt-box small {
    display: inline-block;
    margin-top: 15px;
}

.rm-left-container {
    left: 0;
}

.rm-right-container {
    left: 50%;
}

.rm-container img {
    position: absolute;
    width: 60px;
    border-radius: 10%;
    right: -30px;
    top: 20px;
    z-index: 10;
}

.rm-right-container img {
    left: -30px;
}

.rm-left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(255, 255, 255);
    right: -15px;
}

.rm-right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(255, 255, 255);
    left: -15px;
}

.rm-container:nth-child(1) {
    animation-delay: 0s;
}

.rm-container:nth-child(2) {
    animation-delay: 1s;
}

.rm-container:nth-child(3) {
    animation-delay: 2s;
}

.rm-container:nth-child(4) {
    animation-delay: 3s;
}

@media screen and (max-width: 600px) {
    #roadmap {
        margin: 50px auto;
    }

    #roadmap::after {
        left: 110px;
    }

    .rm-container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .rm-txt-box {
        font-size: 13px;
    }

    .rm-txt-box small {
        margin-bottom: 10px;
    }

    .rm-right-container {
        left: 0;
    }

    .rm-left-container img,
    .rm-right-container img {
        left: 0px
    }

    .rm-left-container-arrow,
    .rm-right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }

}